<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
     
      >
  <item
android:id="@+id/action_add"
android:enabled="true"
android:icon="@drawable/settings"
android:title="add"

/>
  <item
android:id="@+id/action_add"
android:enabled="false"
android:icon="@drawable/settings"
android:title="searh"

/>
  <item
android:id="@+id/action_add"
android:enabled="false"
android:icon="@drawable/settings"
android:title="profile"

/>
</menu>



